<!DOCTYPE html>
<html lang="en"
      layout:decorate="~{layouts/study}"
>
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<div layout:fragment="contents">
    <div id="prompt-meta-container">
        <div id="title-container" class="mt-4">
            <span class="text-2xl font-bold">특산요리 추천 프롬프트</span>
        </div>

        <div id="prompt-form-container">
            <form class="flex flex-col my-2 mx-2" th:method="post">

                <div id="meta-container" class="flex w-full">
                    <fieldset class="fieldset w-full">
                        <legend class="fieldset-legend">Language</legend>
                        <select name="language" class="select">
                            <option disabled selected>언어</option>
                            <option value="Korean">한국어</option>
                            <option value="English">영어</option>
                        </select>
                        <span class="label">Required</span>
                    </fieldset>

                    <div class="w-full max-w-xs">
                        <div class="w-full max-w-xs">
                            <span>
                                <span class="fieldset-legend text-sm">Amount</span>
                            </span>
                            <input name="amount" type="range" min="1" max="5" class="range" step="1"/>
                            <div class="flex justify-between px-2.5 mt-2 text-xs">
                                <span th:each="i : ${#numbers.sequence(1, 5)}">
                                    [[${i}]]
                                </span>
                            </div>
                        </div>
                    </div>
                </div>

                <div id="message-container" class="flex w-full">
                    <fieldset class="fieldset w-full">
                        <legend class="fieldset-legend">Country</legend>
                        <input name="country" type="text" class="input" placeholder="국가를 입력해주세요." required/>
                        <p class="label">Required</p>
                    </fieldset>
                </div>

                <div id="btn-container" class="mt-4 w-full">
                    <button class="btn btn-soft">
                        제출
                    </button>
                </div>
            </form>
        </div>
    </div>

    <div id="prompt-contents-container" class="mt-8">

        <div id="content-title-container">
            <span class="text-2xl font-bold">추천 로컬푸드</span>
        </div>

        <div id="contents-container">
            <div class="mt-4" th:if="${response}">
                <ul class="list bg-base-100 rounded-box shadow-md">
                    <li class="p-4 pb-4 text-lg opacity-60 tracking-wide">
                        [[${response.country}]]에서 가장 유명한 요리
                    </li>
                    <list class="list-row" th:each="cuisine: ${response.cuisines}">
                        <div>
                            <div>[[${cuisine}]]</div>
                        </div>
                    </list>
                </ul>
            </div>
            <div class="mt-4" th:unless="${response}">
                원하는 언어를 선택후 국가명 형식으로 정확히 작성해주세요!
            </div>
        </div>

    </div>
</div>
</body>
</html>