
<!DOCTYPE html>
<html lang="ko"
      layout:decorate="~{layouts/study}" xmlns:layout="http://www.w3.org/1999/xhtml">
<head>
    <title>Text Chat</title>
    <script src="https://cdn.jsdelivr.net/npm/marked/marked.min.js"></script>
</head>
<body>
<div layout:fragment="contents">
    <div id="embedding-console-con">

        <div id="meta-header" class="container mt-6">
            <span class="text-2xl font-bold mx-6">과일 추천</span>

            <form id="meta-data-form" class="mt-2 flex flex-col w-full" th:method="post">

                <div id="input-container" class="flex w-full">
                    <fieldset class="fieldset mx-4 w-full">
                        <legend class="fieldset-legend">과일 정보 입력</legend>
                        <input name="q" type="text" class="input" placeholder="어떤 과일을 드시고 싶으신가요?" />
                    </fieldset>
                </div>

                <div id="btn-con" class="mt-6 mx-2 flex">
                    <button class="btn btn-soft">제출</button>
                </div>

            </form>

        </div>

        <div id="result-container" class="mt-12">

            <span class="text-2xl font-bold mx-6">결과</span>

            <div id="response-container" class="mt-4 mx-6">
                <div class="response" th:if="${results}">
                    <ul class="list bg-base-100 rounded-box shadow-md">
                        <li class="list-row" th:each="result : ${results}">
                            <div>
                                <div>[[ ${result.text} ]]</div>
                            </div>
                        </li>
                    </ul>
                </div>
            </div>

        </div>

    </div>
</div>
</body>
</html>