<!DOCTYPE html>
<html lang="en" layout:decorate="~{layouts/base}">
<body>
<div layout:fragment="contents">
    <div id="menu-header" class="mt-8">
        <div class="flex justify-center">
            <div class="text-2xl font-bold">Spring AI Test Pages</div>
        </div>

        <div class="grid grid-cols-3 gap-4 mt-16">
            <div class="card card-border bg-base-100">
                <div class="card-body">
                    <h2 class="card-title">Text Chat</h2>

                    <p>Spring AI의 Chat Client를 이용해서 LLM과 채팅 기능을 구현</p>

                    <div class="card-actions justify-end">
                        <a th:href="@{/text/chat}">
                            <button class="btn btn-primary">이동</button>
                        </a>
                    </div>
                </div>
            </div>

            <div class="card card-border bg-base-100">
                <div class="card-body">
                    <h2 class="card-title">Text Stream Chat</h2>

                    <p>Spring AI의 Chat Client를 이용하여 LLM과 스트리밍 채팅 기능을 구현</p>

                    <div class="card-actions justify-end">
                        <a th:href="@{/stream/chat}">
                            <button class="btn btn-primary">이동</button>
                        </a>
                    </div>
                </div>
            </div>

            <div class="card card-border bg-base-100">
                <div class="card-body">
                    <h2 class="card-title">Prompt Chat 1</h2>

                    <p>프롬프트를 구성해서 채팅 기능을 구현 - 운동 프로그램 소개</p>

                    <div class="card-actions justify-end">
                        <a th:href="@{/prompt/v1}">
                            <button class="btn btn-primary">이동</button>
                        </a>
                    </div>
                </div>
            </div>

            <div class="card card-border bg-base-100">
                <div class="card-body">
                    <h2 class="card-title">Prompt Chat 2</h2>

                    <p>프롬프트를 구성해서 채팅 기능을 구현 - 요리 추천</p>

                    <div class="card-actions justify-end">
                        <a th:href="@{/prompt/v2}">
                            <button class="btn btn-primary">이동</button>
                        </a>
                    </div>
                </div>
            </div>

            <div class="card card-border bg-base-100">
                <div class="card-body">
                    <h2 class="card-title">Embedding 1</h2>

                    <p>임베딩 이해 1</p>
                    <p>데이터를 임베딩하면 출력되는 결과를 확인합니다.</p>

                    <div class="card-actions justify-end">
                        <a th:href="@{/embedding/v1}">
                            <button class="btn btn-primary">이동</button>
                        </a>
                    </div>
                </div>
            </div>

            <div class="card card-border bg-base-100">
                <div class="card-body">
                    <h2 class="card-title">Embedding 2</h2>

                    <p>임베딩 이해 2</p>
                    <p>임베딩 데이터의 유사도를 확인합니다.</p>

                    <div class="card-actions justify-end">
                        <a th:href="@{/embedding/v2}">
                            <button class="btn btn-primary">이동</button>
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
</body>
</html>